<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OodHelper.net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OodHelper.net.Properties.Settings.OodHelperConnectionString" connectionString="Data Source=data\OodHelper.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="OodHelper.net.Properties.Settings.SettingsConnectionString" connectionString="Data Source=data\Settings.sdf"/>
    </connectionStrings>
    <userSettings>
        <OodHelper.net.Properties.Settings>
            <setting name="useStd" serializeAs="String">
                <value>True</value>
            </setting>
        </OodHelper.net.Properties.Settings>
    </userSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe.3.5"/>
            <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=3.5.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
        </DbProviderFactories>
    </system.data>
</configuration>
