<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="OodHelper" 
           Language="1033" 
           Version="1.0.35.0" 
           Manufacturer="David Woakes" 
           UpgradeCode="{586CAE3C-1E00-4522-ABD5-DFEAE4C5DA54}">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="OodHelperInstaller" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="OodHelper">
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs" />
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProgramFilesFolder" Guid="{AA426A21-58BC-4DE5-89F7-21FC16A1CE11}">
        <RemoveFolder Id="ProgramFilesFolder" On="uninstall" />
      </Component>
      <Component Id="MainExecutable" Guid="*">
        <File Id="OodHelperEXE" Name="OodHelper.exe" Source="$(var.OodHelper.net.TargetPath)" KeyPath="yes" >
          <Shortcut Id="StartMenuOodHelper" WorkingDirectory="INSTALLFOLDER" Directory="ProgramMenuFolder" Name="OodHelper" Advertise="yes" />
          <Shortcut Id="DesktopOodHelper" WorkingDirectory="INSTALLFOLDER" Directory="DesktopFolder" Name="OodHelper" Advertise="yes" />
        </File>
      </Component>
      <Component Id="MySqlDataDLL" Guid="*">
        <File Id="MySqlDataDLL" Name="mysql.data.dll" Source="$(var.OodHelper.net.TargetDir)\mysql.data.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
